<div class="search">
    <form method="POST">
        <h2>Search Address</h2>
        <label for="searchQuery">Search: </label>
        <input type="text" id="searchQuery" placeholder="Search Value" name="searchQuery" />
        <input type="submit" />
    </form>
</div>