<div class="address">
    <h2>Add Address</h2>
    <form method="post" asp-controller="Home" asp-action="AddAddress">

        <label for="firstName">First Name: </label>
        <input type="text" id="firstName" placeholder="Search Value" name="fname" />
        <label for="lastName">Last Name: </label>
        <input type="text" id="lastName" placeholder="Search Value" name="lname" />
        <label for="phone">Phone: </label>
        <input type="number" id="phone" placeholder="Search Value" name="phone" />
        <label for="email">Email: </label>
        <input type="email" id="email" placeholder="Search Value" name="email" />
       
        <input type="submit" />
    </form>
</div>